DATABASE_URL=postgresql://masterkey:masterkey_local@localhost:5434/masterkey?schema=public
PORT=3001
CORS_ORIGIN=http://localhost:3002
MONGO_DATABASE_URL=mongodb+srv://phjs7626:goGhRO8b6Q8DU1ss@user.qixyb.mongodb.net/Users?retryWrites=true&w=majority&appName=user
